<nav>
  <ul class='centered'>
    <li><%= link_to "Home", index_path %></li>
    <li><%= link_to "News", news_path %></li>
    <li><%= link_to "What We Do", what_we_do_path %></li>
    <li><%= link_to "What's On", events_path %></li>
    <li><%= link_to "Shop", shop_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
</nav>